.resume-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.section-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 2px;
}

.section {
  text-align: left;
  margin-bottom: 50px;
}

.entry {
  text-align: left;
}

.section-header {
  display: flex;
  justify-content: space-between;
}

.position {
  display: inline-block;
  margin-bottom: 0px;
  font-weight: bold;
}

.date {
  display: inline-block;
  margin-bottom: 0px;
  font-style: italic;
}